.game {
  outline: none;
}

.paragraphs {
  margin: 0.5em 0;
}

.paragraph {
  padding: 0.5em 0;
}

.small-title {
  margin-top: 1em;
  margin-bottom: 0;
  font-weight: bold;
}

.loading-message {
  padding: 0.5em 0;
}
